In [4]:
[x + 10 for x in range(5)]

[10, 11, 12, 13, 14]

In [2]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [3]:
[x ** 3 for x in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [6]:
10 % 3 #resto

1

In [7]:
print([n for n in range(11) if n % 2 ==0]) #par

[0, 2, 4, 6, 8, 10]

In [10]:
print([n for n in range(11) if n % 2 != 0]) #impar

[1, 3, 5, 7, 9]

In [15]:
pessoas = ['Ana', 'manuela', 'FeLIpE', 'PedrO']

In [4]:
ana = ' Ana'

In [5]:
ana

' Ana'

In [9]:
ana.strip() #Retira os espa√ßos/ Strip any space in string

'Ana'

In [10]:
ana.lower() #coloca todos os caracteres em caixa baixa / put all the text in lower case letters

' ana'

In [11]:
ana.upper() #coloca todos os caracteres em caixa alta / put all the text in upper case letters

' ANA'

In [16]:
pessoas

['Ana', 'manuela', 'FeLIpE', 'PedrO']

In [17]:
pessoas_normalizadas = [pessoa.strip().capitalize() for pessoa in pessoas]

In [18]:
pessoas_normalizadas

['Ana', 'Manuela', 'Felipe', 'Pedro']